{% assign is_post = page.date %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>
    <div class="container">
      <header>
        <h1 class="site-title">{{ site.title }}</h1>
        <nav>
          <a href="/index" {% if page.permalink == '/index' %}class="active"{% endif %}>About</a>
          <a href="/papers" {% if page.permalink == '/papers' %}class="active"{% endif %}>Papers</a>
          <a href="/teaching" {% if page.permalink == '/teaching' %}class="active"{% endif %}>Teaching</a>
          <a href="/software" {% if page.permalink == '/software' %}class="active"{% endif %}>Software</a>
        </nav>
      </header>

      <main>
        {{ content }}
        {% if is_post %}{% include signoff.html %}{% endif %}
      </main>

      {% if is_post %}{% include pagination.html %}{% endif %}
    </div>
  </body>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('a[href^="http"]').forEach(function(link) {
      if (link.hostname !== window.location.hostname) {
        link.setAttribute("target", "_blank");
        link.setAttribute("rel", "noopener noreferrer");
      }
    });
  });
</script>

</html>
